In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sing = pd.read_excel("SING.xlsx")

In [3]:
sing

                  Category  Sophfrosh  Juniors  Seniors
0  Overall Impression (x2)        360      302      320
1                   Script        167      135      135
2                   Acting        170      140      161
3                    Dance        158      160      179
4           Band/Orchestra        160      155      182
5   Vocal/Musical Elements        167      170      176
6                     Sets        178      176      153
7        Technical Aspects        152      137      142
8                 Costumes        174      141      166
9               Deductions        -35      -43     -106

In [4]:
sing.sum(0,)

<bound method NDFrame._add_numeric_operations.<locals>.sum of    Sophfrosh  Juniors
0        360      302
1        167      135
2        170      140
3        158      160
4        160      155
5        167      170
6        178      176
7        152      137
8        174      141
9        -35      -43>